/**
 * Block spacing control.
 */
.block-spacing-before--0 {
	margin-top: 0 !important;
}

.block-spacing-before---1 {
	margin-top: calc(var(--spacing-10) * -1) !important;
}

.block-spacing-before---2 {
	margin-top: calc(var(--spacing-20) * -1) !important;
}

.block-spacing-before---3 {
	margin-top: calc(var(--spacing-30) * -1) !important;
}

.block-spacing-before---4 {
	margin-top: calc(var(--spacing-40) * -1) !important;
}

.block-spacing-before---5 {
	margin-top: calc(var(--spacing-60) * -1) !important;
}

.block-spacing-before--1 {
	margin-top: calc(var(--spacing-10)) !important;
}

.block-spacing-before--2 {
	margin-top: calc(var(--spacing-20)) !important;
}

.block-spacing-before--3 {
	margin-top: calc(var(--spacing-30)) !important;
}

.block-spacing-before--4 {
	margin-top: calc(var(--spacing-40)) !important;
}

.block-spacing-before--5 {
	margin-top: calc(var(--spacing-60)) !important;
}

.block-spacing-after--0 {
	margin-bottom: 0 !important;
}

.block-spacing-after---1 {
	margin-bottom: calc(var(--spacing-10) * -1) !important;
}

.block-spacing-after---2 {
	margin-bottom: calc(var(--spacing-20) * -1) !important;
}

.block-spacing-after---3 {
	margin-bottom: calc(var(--spacing-30) * -1) !important;
}

.block-spacing-after---4 {
	margin-bottom: calc(var(--spacing-40) * -1) !important;
}

.block-spacing-after---5 {
	margin-bottom: calc(var(--spacing-60) * -1) !important;
}

.block-spacing-after--1 {
	margin-bottom: calc(var(--spacing-10)) !important;
}

.block-spacing-after--2 {
	margin-bottom: calc(var(--spacing-20)) !important;
}

.block-spacing-after--3 {
	margin-bottom: calc(var(--spacing-30)) !important;
}

.block-spacing-after--4 {
	margin-bottom: calc(var(--spacing-40)) !important;
}

.block-spacing-after--5 {
	margin-bottom: calc(var(--spacing-60)) !important;
}
