* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html {
	scroll-behavior: smooth;
	font-size: var(--size-base);
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	color: var(--text-color);
	line-height: var(--line-height-base);
	font-family: var(--font-family-base);
	font-weight: var(--weight-regular);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-anchor: none;
}

a {
	color: inherit;

	&:hover {
		color: var(--color-red);
	}
}

strong,
b {
	font-weight: var(--weight-bold);
}

em {
	font-style: italic;
}
