.wp-block-table {
	position: relative;

	& figcaption {
		position: relative;
		z-index: 2;
		color: var(--color-white);
		text-align: center;
	}

	/* Gradient border */

	&::before {
		content: '';
		background: var(--color-greenblue-gradient);
		border-radius: 12px;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: 1;
		display: block;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		pointer-events: none;
	}

	& table {
		width: 100%;
		font-weight: var(--weight-medium);
		position: relative;
		z-index: 2;
		background-color: var(--color-white);
		border-radius: var(--border-radius-l);
		overflow: hidden;
		font-size: var(--size-xxs);

		@media (--medium-up) {
			font-size: var(--size-s);
		}

		& thead,
		& tfoot {
			background-color: var(--color-petroleum);
			color: var(--color-white);
			border-top-left-radius: var(--border-radius-l);
			border-top-right-radius: var(--border-radius-l);
			text-align: left;
		}

		& td,
		& th {
			padding: var(--spacing-5) var(--spacing-10);

			@media (--medium-up) {
				padding: var(--spacing-base) var(--spacing-25);
			}
		}
	}

	&.is-style-stripes {
		& tr {
			border-bottom: 0;
		}

		& table tr {
			&:nth-child(even) {
				background: linear-gradient(261.38deg, rgba(0, 147, 221, 0.0885) 0.82%, rgba(51, 187, 170, .15) 99.04%);
			}
		}
	}
}
